.head{
    display: flex;
    justify-content: center;
margin-top: 30px;

}
.hamza{
    border: 1px solid black;
}
.upload{
    
    margin-top: 30px;
    border: 3px solid gray;
    border-radius: 20px;
    width: 700px;
    height: 180px;
    display: flex;
    justify-content: center;
}
.inpContainer{
    margin-top: 30px;
}
.inp1{
 margin-left: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid gray;
}
.fail{
    padding: 20px;
    margin-left: 10px;
    /* background-color: brown; */
}
.opload{
    /* border: 3px solid black; */
    /* width: 400px; */

    display: flex;
    justify-content: center;
}
.Post>button{
  background-color:azure;
  color:black;
  padding: 10px 15px 10px 15px;
border-radius: 20px;
border: none;

}
.Post>button:hover{
    background-color:black;
    color:white;
}
.Post{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.img1{
    border-radius: 30px;
}
.post1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.post2{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    width: 600px;
    /* height: 600px; */
   
}
.imagedate{
    margin-left: 15px;
margin-top: 20px;
display: flex;
}
.namedate{
    margin: 3px 0px 0px 8px;
}
.caption{
    /* border: 1px solid black; */
 margin-left: 45px;
 margin-top: 20px;   
/* height: 50px; */
 width: 500px;
}
.pic{
    /* border-radius: 5px; */
    /* border: 1px solid black; */
    width: 500px;
    height: 450px;
    margin-left: 45px;
    margin-top: 20px;
}
.pic>img{
    border-radius: 5px;
    height: 450px;
    width: 500px;
    
}
.threePair{
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: 30px;
}
.twoButtons{
    margin-left: 280px;
    /* padding: 4px; */
}
.twoButtons>button{
    padding: 7px;
    border-radius: 20px;
    margin: 4px;
    color: white;
    background-color: black;
}
.update>form>input{
width: 400px;
padding: 10px;
border: 1px solid gray;
border-radius: 20px;
}
.update>form>button{
    padding: 7px;
    border-radius: 20px;
    margin-left: 14px;
    color: white;
    background-color: black;
}