.App {
  text-align: center;
}

body{
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.bond{
  margin-top: 0px;
  padding: 0px;
  /* background-color: aqua; */
}
.loginNav, .logoutNav {
  /* text-decoration: underline; */
  display: flex;
  justify-content: space-around;
  /* padding: 10px; */
}

.loginNav>li, .logoutNav >li {
  /* padding: 10px; */
  margin: 10px;
  list-style: none;
  color: aqua;
  /* text-decoration: none; */
}

.loginNav>li>a,.logoutNav>li>a {
  text-decoration: none;
  color: black;
}
.loginNav>li>a:hover, .logoutNav>li>a:hover {
  /* text-decoration: overline; */
  text-decoration: underline;

  color: navy;
}
button{
  background: none;
  border: none;
}
.img1{
  height:40px;
  background: none;
  /* background-color: #61dafb; */
  width: 40px;
}
.bott1{
  /* margin-left: 50px; */
}
.img1:hover{
  cursor: pointer;
}


.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}